@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Great+Vibes&family=Nunito:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap");
body {
  background-color: #cdb4db;
  color: #ffffff;
  font-family: "Alkatra", cursive;
}
.page1_content {
  font-family: "Alkatra", cursive;
  padding: 0 1rem 0 1rem;
  padding-top: 55vh;
  opacity: 1;
}
.hii {
  background-color: #000000;
}

.heading{
  font-size: 60px;
  padding: 1rem;
  background: rgb(24,23,41);
background: linear-gradient(90deg, rgba(24,23,41,1) 0%, rgba(48,48,168,1) 54%, rgba(102,229,255,1) 100%);
}

.page1 {
  color: white;
  background-image: url("../img/im.jpeg");
backface-visibility: var(-18px);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.display_title {
  font-size: 32px;
}

.cards {
  color: #1f271b;
  min-height: 10rem;
  border-radius: 0.7rem;
  background: #fde2e4;
}
.cards:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.add_button {
  border: none;
  border-radius: 2px;
background-color: #ffc8dd;
  height: 3rem;
  font-size: 24px;
  margin: 2px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.add_button:hover {
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.del_btn {
  background: rgb(174, 233, 238);
  background: radial-gradient(
    circle,
    rgba(174, 233, 238, 1) 0%,
    rgba(153, 148, 233, 1) 100%
  );
}

.hide {
  display: none;
}
