@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Great+Vibes&family=Nunito:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap");
.body {
  /* background: #200122; 
  background: -webkit-linear-gradient(
    to right,
    #6f0000,
    #200122
  ); 
  background: linear-gradient(
    to right,
    #6f0000,
    #200122
  ); */
color: #eadfdfcd;
  background-color: #000000;

  color: #ffffff;
  font-family: "Alkatra", cursive;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}


/* button handling */

.moon {
  display: block;
}

.sun {
  display: none;
}

.dark-mode .moon {
  display: none;
}

.dark-mode .sun {
  display: block;
}
.page1_content {
  font-family: "Alkatra", cursive;
  padding: 0 1rem 0 1rem;
  padding-top: 55vh;
  opacity: 1;
}
.hii {
  background-color: #000000;
}

.heading {
  font-size: 60px;
  padding: 1rem;
  flex-wrap: nowrap;
}

.page1 {
  color: white;
  background-image: url("../img/im.jpeg");
  backface-visibility: var(-18px);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.display_title {
  font-size: 32px;
}

.cards {
  min-height: 10rem;
  border-radius: 0.7rem;
  background: #232526;
}
.cards:hover {
  background-color: #eb990a;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardslight{
  min-height: 10rem;
  border-radius: 0.7rem;
  background: #eadfdfcd;
  color: #232526;
}

.cardslight:hover{
  background-color: #eb990a;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.add_button {
  border: none;
  border-radius: 2px;
  background-color: #eb990a;
  height: 3rem;
  font-size: 24px;
  margin: 2px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.add_button:hover {
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.del_btn {
  background: rgb(174, 233, 238);
  /* background: rgb(255, 255, 255); */

  border: none;
}

.del_btn:hover {
  background: white;
}

.hide {
  display: none;
}

.delConform {
  position: fixed;
  height: 100%;
  width : 100%;
  top: 12%;
  z-index: 1;
  visibility: collapse;
  backdrop-filter: blur(10px);
}
.delConformBox{
  
  margin: 10% auto;
  height: 13rem;
}
.visible {
  visibility: visible;
}
